.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
}

.popup__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  position: relative;
  max-width: 450px;
  width: 90%;
  padding: 25px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #fff;
  -webkit-transform: perspective(1000px) rotateY(90deg) translateX(100%);
          transform: perspective(1000px) rotateY(90deg) translateX(100%);
}

.popup__content {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.popup__title {
  font-size: 36px;
  font-weight: 700;
}

.popup__text {
  margin: 20px 0px 0px 0px;
  font-size: 20px;
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0;
  outline: none;
  color: #fff;
  font-size: 10px;
  font-weight: 900;
  background: url(../favicon/android-chrome-512x512.png) center/cover no-repeat;
  cursor: pointer;
}

.popup._active {
  visibility: visible;
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transform: perspective(1000px) rotateY(0deg) translateX(0%);
          transform: perspective(1000px) rotateY(0deg) translateX(0%);
}

.footer {
  overflow: hidden;
  background-color: #1c234a;
  padding: 0px 0px 30px 0px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 290px;
          flex: 0 0 290px;
  margin: 0 10px;
  text-align: left;
}

@media (max-width: 929px) {
  .footer__column {
    margin: 0px 10px 30px 10px;
  }
  .footer__column:last-child {
    margin: 0px 10px 0px 10px;
  }
}

.footer__text {
  margin: 10px 0px 0px 0px;
  color: #ffffff;
}

.footer__subtitle {
  margin: 10px 0px 20px 0px;
  color: #ffffff;
  font-family: 'a_FuturaRound Bold', 'Helvetica', arial;
  font-size: 15px;
  font-weight: 900;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  word-spacing: 3px;
}

.footer__address {
  position: relative;
  padding: 0px 0px 0px 32px;
  color: #ffffff;
}

.footer__address svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  fill: #fff;
}

.footer__phone {
  position: relative;
  padding: 0px 0px 0px 32px;
  margin: 10px 0px 0px 0px;
  color: #ffffff;
}

.footer__phone svg {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  fill: #fff;
}

.footer__newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__sub {
  padding: 8.5px;
  border: 1px solid #ffffff;
  color: #fff;
  font-family: 'Raleway Light', sans-serif;
  opacity: 0.5;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 0px 0px 0px;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.footer__item img {
  max-width: 100%;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 70px 0px 0px 0px;
}

@media (max-width: 768px) {
  .footer__row {
    margin: 60px 0px 0px 0px;
  }
}

@media (max-width: 500px) {
  .footer__row {
    margin: 50px 0px 0px 0px;
  }
}

@media (max-width: 700px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (max-width: 700px) {
  .footer__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 401px) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__link {
  color: #ffffff;
  font-family: 'Raleway Light', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.footer__link:nth-child(2n) {
  margin: 0px 30px;
}

@media (max-width: 401px) {
  .footer__link:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
}

@media (min-width: 992px) {
  .footer__link:hover {
    color: #00e095;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
  }
}

.footer__rights {
  color: #ffffff;
  font-family: 'Raleway Light', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.35px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 700px) {
  .footer__rights {
    margin: 20px 0px 0px 0px;
  }
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff;
  padding: 0 5px;
  background-color: #ffffff;
  opacity: 0.5;
  cursor: pointer;
}

.footer__button svg {
  height: 30px;
}

.footer__wave {
  width: 100%;
}

.footer__wave_top {
  margin: -6px 0px 0px 0px;
}

.footer__wave_top svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.contact {
  background-color: #2d3563;
}

.contact__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 850px) {
  .contact__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__form {
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.contact__clients {
  margin: 0px 0px 0px 100px;
  text-align: left;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 380px;
          flex: 0 0 380px;
}

@media (max-width: 850px) {
  .contact__clients {
    margin: 50px 0px 0px 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

.contact__title {
  color: #fff;
  margin: 0px 0px 20px 0px;
}

.contact__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.contact__item {
  width: 100px;
  margin: 0px 0px 20px 0px;
}

.contact__item img {
  max-width: 100%;
}

.form-contact__title {
  margin: 0px 0px 30px 0px;
  color: #fff;
}

.form-contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-contact input {
  height: 45px;
}

.form-contact input,
.form-contact textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  margin: 0px 0px 20px 0px;
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: #000;
  font-family: 'Raleway Light', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  outline: 0;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  background-color: #FDF4D4;
}

.form-contact input:focus,
.form-contact textarea:focus {
  border: 2px solid #00e095;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.form-contact textarea {
  resize: none;
}

.testimonials {
  overflow: hidden;
  background-color: #3b4475;
}

.testimonials__quotes {
  display: inline-block;
  width: 50px;
}

.testimonials__quotes svg {
  fill: #fff;
}

.testimonials__text {
  margin: 0 0 50px 0;
  opacity: 0.85;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

@media (max-width: 768px) {
  .testimonials__text {
    margin: 0px 0 50px 0;
  }
}

@media (max-width: 500px) {
  .testimonials__text {
    margin: 0px 0 50px 0;
  }
}

.testimonials__image {
  display: inline-block;
}

.testimonials__image img {
  max-width: 100%;
  border-radius: 50%;
}

.testimonials__name, .testimonials__job {
  color: #fff;
}

.testimonials__wave {
  width: 100%;
}

.testimonials__wave_top {
  margin: -6px 0px 0px 0px;
}

.testimonials__wave_top svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.testimonials__wave_bottom {
  margin: 0px 0px -5px 0px;
}

.slider-image {
  position: relative;
  width: 100%;
  height: 150px;
  margin: 0 auto;
}

.slider-image .slick-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: inherit;
}

.slider-image .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.slider-image__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  outline: 0;
  -webkit-transition: opacity ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s;
}

.slider-image .slick-slide {
  opacity: 0.4;
}

.slider-image .slick-slide .testimonials__image {
  width: 60px;
  height: 60px;
}

.slider-image .slick-active {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 0.3s, padding ease-in-out 0.5s;
  transition: opacity ease-in-out 0.3s, padding ease-in-out 0.5s;
}

.slider-image .slick-active .testimonials__image {
  width: 100px;
  height: 100px;
}

.slider-image .slick-current {
  padding: 0;
  margin: 0;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.slider-image .slick-current .testimonials__image {
  width: 150px;
  height: 150px;
}

.slider-image .slick-current .testimonials__image img {
  max-width: 100%;
}

.slider-image .slick-arrow {
  position: absolute;
  bottom: 50%;
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 0;
  cursor: pointer;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.slider-image .slick-arrow span {
  width: inherit;
  height: inherit;
  padding: 0;
  border-radius: 50%;
  font-size: 0;
}

.slider-image .slick-arrow:after {
  content: '';
  border-radius: 50%;
}

.slider-image .slick-prev {
  left: 0;
}

.slider-image .slick-prev svg {
  -webkit-transform: translateY(50%) rotate(180deg);
          transform: translateY(50%) rotate(180deg);
}

.slider-image .slick-next {
  right: 0;
}

.slider-image .slick-next svg {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.slider-text {
  max-width: 950px;
  margin: 50px auto 45px auto;
  height: auto;
}

.slider-text .slick-list {
  overflow: hidden;
}

.slider-text .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-text__item {
  opacity: 0;
  visibility: hidden;
  outline: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.slider-text .slick-current {
  opacity: 1;
  visibility: visible;
}

.works {
  width: 100%;
  background-color: #2d3563;
}

.works__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 550px) {
  .works__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.works__title {
  color: #fff;
}

.works__table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 200px);
  -ms-grid-rows: (200px)[auto-fit];
      grid-template-rows: repeat(auto-fit, 200px);
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1600px;
  margin: 70px auto;
  padding: 0 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .works__table {
    margin: 60px auto;
  }
}

@media (max-width: 491px) {
  .works__table {
    margin: 50px auto;
  }
}

.works__image {
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.works__image a {
  display: block;
  width: inherit;
  height: inherit;
}

.works__image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-width: 100%;
}

@media (min-width: 992px) {
  .works__image:hover img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.works .two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes animateArrow {
  from {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes animateArrow {
  from {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.team {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #1c234a;
}

.team__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__title {
  color: #ffffff;
}

.team__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 70px -5px;
}

@media (max-width: 768px) {
  .team__table {
    margin: 60px 0;
  }
}

@media (max-width: 491px) {
  .team__table {
    margin: 50px 0 30px 0;
  }
}

.team__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 220px;
          flex: 0 0 220px;
  position: relative;
  overflow: hidden;
  margin: 0 5px 15px 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

@media (min-width: 992px) {
  .team__card .team__data {
    bottom: -25px;
  }
  .team__card:hover .team__data {
    bottom: 0;
  }
}

.team__image {
  height: 310px;
}

.team__image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.team__text {
  margin: 0 0 25px 0;
  color: #f3f3f3;
  font-family: "FreeSet";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
  background-color: #5783D3;
}

.team__data {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #fff;
}

.team__name, .team__job {
  color: #222121;
}

.team__wave {
  width: 100%;
}

.team__wave_top {
  margin: -5px 0px 0px 0px;
}

.team__wave_top svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.team__wave_bottom {
  margin: 0px 0px -5px 0px;
}

.expertise {
  position: relative;
  background-color: #2d3563;
}

.expertise__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.expertise__title {
  color: #fff;
}

.expertise__table {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(320px, auto))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(320px, auto));
  -ms-grid-columns: (290px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 290px);
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 0 0 0;
  padding: 0px 0px 28px 0px;
}

.expertise__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  background-color: #FDF4D4;
  -webkit-box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

@media (min-width: 992px) {
  .expertise__card:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.9);
            box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.9);
  }
}

.expertise__icon {
  margin: 10px 0px 0px 0px;
}

.expertise__icon img {
  max-width: 100%;
  width: 100px;
}

.expertise__subtitle {
  margin: 30px 0px 0px 0px;
  color: #222121;
  font-family: 'Exo 2.0 Bold', sans-serif;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.expertise__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 10px 0px 0px 0px;
  font-size: 14px;
  color: #2c2b2b;
}

.video {
  overflow: hidden;
  background-color: #3b4475;
}

.video__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

.video__icon {
  cursor: pointer;
  width: 200px;
}

.video__icon img {
  max-width: 100%;
}

.video__subtitle {
  margin: 30px 0 0 0;
  color: #ffffff;
  font-family: 'Open Sans Bold', arial;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.video__wave {
  width: 100%;
}

.video__wave_top {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin: -5px 0px 0 0px;
}

.video__wave_bottom {
  margin: 0px 0px -5px 0px;
}

.story {
  background-color: #2d3563;
}

.story__title {
  color: #fff;
}

.story__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.story__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0px 0px 0px 20px;
}

.story__image img {
  max-width: 100%;
}

@media (max-width: 920px) {
  .story__image {
    display: none;
  }
}

.story__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 921px) {
  .story__body {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.story__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.story__wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px 0px 0px 100px;
}

@media (max-width: 920px) {
  .story__wrapper {
    padding: 0;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.story__text {
  margin: 30px 0 0 0;
  color: #fff;
}

.story__text p {
  margin: 30px 0 0 0;
}

.story__text p:first-child {
  margin: 0;
}

.story__button {
  margin: 30px 0 0 0;
}

.header {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #1c234a;
}

.header__wrapper1-row {
  z-index: 9000;
  margin: 15px 0px 0px 0px;
  width: 100%;
  height: 70px;
}

.header__wrapper2-row {
  z-index: 9000;
  -webkit-transition: 0s;
  transition: 0s;
}

.header__burger {
  display: none;
  position: relative;
  z-index: 1000;
  width: 30px;
  height: 20px;
}

.header__burger span {
  top: 0;
}

.header__burger:before, .header__burger:after,
.header__burger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 15px;
  background-color: #fff;
  -webkit-transition: top ease-in-out 0.2s, -webkit-transform ease-in-out 0.3s;
  transition: top ease-in-out 0.2s, -webkit-transform ease-in-out 0.3s;
  transition: top ease-in-out 0.2s, transform ease-in-out 0.3s;
  transition: top ease-in-out 0.2s, transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
}

.header__burger:before {
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__burger:after {
  content: "";
  bottom: 0;
}

.header__burger._active {
  position: fixed;
  right: 20px;
}

.header__burger._active:before, .header__burger._active:after,
.header__burger._active span {
  top: 50%;
  -webkit-transition: top ease-in-out 0.2s, -webkit-transform ease-in-out 0.3s;
  transition: top ease-in-out 0.2s, -webkit-transform ease-in-out 0.3s;
  transition: top ease-in-out 0.2s, transform ease-in-out 0.3s;
  transition: top ease-in-out 0.2s, transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
}

.header__burger._active:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__burger._active:after {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header__burger._active span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 950px;
  width: 100%;
  height: 70px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 929px) {
  .header__row .header__list {
    visibility: hidden;
    z-index: 10;
    position: fixed;
    top: 0;
    right: -100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 250px;
    padding: 100px 0 0 30px;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: left;
    overflow: scroll;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
  }
  .header__row .header__list .header__link {
    margin: 15px 0 0 0;
  }
  .header__row .header__list .header__link a {
    font-size: 25px;
  }
  .header__row .header__list .header__link:first-child {
    margin: 0;
  }
  .header__row .header__list._active {
    visibility: visible;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: right ease-in-out 0.3s;
    transition: right ease-in-out 0.3s;
  }
  .header__row .header__burger {
    display: block;
  }
}

.header__logo {
  cursor: pointer;
}

.header__logo img {
  max-width: 100%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.header__link {
  margin: 0 0 0 25px;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.header__link a {
  color: #ffffff;
  font-family: "Exo 2.0 Bold", sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.33px;
  text-decoration: none;
}

@media (min-width: 992px) {
  .header__link a:hover {
    color: #00e095;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
  }
}

.header__link:first-child {
  margin: 0;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0px 0px 0px;
}

.header__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 950px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.header__wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 920px) {
  .header__wrapper {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0px 20px 0px 0px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.header__image img {
  max-width: 100%;
}

@media (max-width: 920px) {
  .header__image {
    display: none;
  }
}

@media (max-width: 550px) {
  .header .header__title {
    font-size: 32px;
  }
}

.header__title {
  position: relative;
  color: #ffffff;
  font-family: "a_FuturaRound Bold", arial;
  font-size: 46px;
  font-weight: 900;
  letter-spacing: 0.32px;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.4;
}

@media (max-width: 920px) {
  .header__title {
    text-align: center;
  }
}

.header__text {
  margin: 15px 0px 0px 0px;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 921px) {
  .header__text {
    max-width: 400px;
    text-align: left;
  }
}

.header__button {
  margin: 30px 0px 0px 0px;
}

.header__wave {
  width: 100%;
}

.header__wave_bottom {
  margin: 0px 0px -5px 0px;
}

.fixed .header__wrapper2-row {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  width: 100%;
  background-color: #202020;
  -webkit-box-shadow: 0px 0px 20px 5px #1f1f1f;
          box-shadow: 0px 0px 20px 5px #1f1f1f;
  -webkit-transition: background-color 0.3s ease-in-out, padding 0s, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, padding 0s, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, padding 0s;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, padding 0s, -webkit-box-shadow 0.3s ease-in-out;
}

* {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.wrapper {
  max-width: 950px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.title {
  font-family: 'a_FuturaRound Bold', 'Helvetica', arial;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

.text {
  font-family: 'Montserrat Light', sans-serif;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 1.1px;
  word-spacing: 3px;
}

.button {
  position: relative;
  display: block;
  border-radius: 2.5px;
  z-index: 100;
}

.button span {
  display: block;
  z-index: 100;
  padding: 8px;
  border-radius: 2.5px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  font-family: 'Raleway Bold', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
  background-color: #00e095;
}

@media (min-width: 992px) {
  .button span:hover {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
  }
}

.button:after {
  content: "";
  position: absolute;
  display: block;
  top: 8px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 0 0 2.5px 2.5px;
  background-color: #22af79;
  -webkit-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
}

@media (min-width: 992px) {
  .button.pressed span {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
  }
}

.name {
  font-family: 'Exo 2.0 Bold', sans-serif;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.job {
  margin: 10px 0px 0px 0px;
  opacity: 0.7;
  font-family: 'Montserrat Light', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.page-wrapper {
  min-height: 100vh;
  -webkit-transition: 0s;
  transition: 0s;
  background-color: #2D3563;
}

body {
  -webkit-transition: 0s;
  transition: 0s;
}
