.header {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	width: 100%;

	background-color: #1c234a;

	&__wrapper1-row {
		z-index: 9000;

		margin: 15px 0px 0px 0px;
		width: 100%;
		height: 70px;
	}

	&__wrapper2-row {
		z-index: 9000;

		transition: 0s;
	}

	&__burger {
		display: none;
		position: relative;
		z-index: 1000;

		width: 30px;
		height: 20px;

		span {
			top: 0;
		}

		&:before,
		&:after,
		span {
			position: absolute;
			left: 0;

			width: 100%;
			height: 2px;
			border-radius: 15px;

			background-color: #fff;

			transition: top ease-in-out 0.2s, transform ease-in-out 0.3s;
		}

		&:before {
			content: "";
			top: 50%;

			transform: translateY(-50%);
		}

		&:after {
			content: "";
			bottom: 0;
		}

		&._active {
			position: fixed;
			right: 20px;

			&:before,
			&:after,
			span {
				top: 50%;
				transition: top ease-in-out 0.2s, transform ease-in-out 0.3s;
			}

			&:before {
				transform: rotate(-45deg);
			}
			&:after {
				transform: scale(0);
			}
			span {
				transform: rotate(45deg);
			}
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;

		max-width: 950px;
		width: 100%;
		height: 70px;
		margin: 0 auto;
		padding: 0 20px;

		@media (max-width: 929px) {
			.header__list {
				visibility: hidden;
				z-index: 10;
				position: fixed;
				top: 0;
				right: -100%;
				flex-direction: column;

				height: 100%;
				width: 250px;
				padding: 100px 0 0 30px;

				background-color: rgba(0, 0, 0, 0.9);

				text-align: left;

				overflow: scroll;
				transition: ease-in-out 0.3s;

				.header__link {
					margin: 15px 0 0 0;
					a {
						font-size: 25px;
					}

					&:first-child {
						margin: 0;
					}
				}

				&._active {
					visibility: visible;
					right: 0;

					background-color: rgba(0, 0, 0, 0.9);

					transition: right ease-in-out 0.3s;
				}
			}

			.header__burger {
				display: block;
			}
		}
	}

	&__logo {
		cursor: pointer;
		img {
			max-width: 100%;
		}
	}

	&__list {
		display: flex;

		list-style-type: none;
	}

	&__link {
		margin: 0 0 0 25px;
		a {
			color: #ffffff;
			font-family: "Exo 2.0 Bold", sans-serif;
			font-size: 13px;
			font-weight: 900;
			text-transform: uppercase;
			letter-spacing: 0.33px;
			text-decoration: none;

			@media (min-width: 992px) {
				&:hover {
					color: #00e095;
					transition: ease-in-out 0.3s;
				}
			}
		}

		cursor: pointer;

		transition: ease-in-out 0.3s;

		&:first-child {
			margin: 0;
		}
	}

	&__body {
		display: flex;

		margin: 50px 0px 0px 0px;
	}

	&__content {
		flex: 0 0 100%;
		display: flex;
	}

	&__container {
		display: flex;
		align-items: center;

		max-width: 950px;
		width: 100%;
		padding: 0 20px;
		margin: 0 auto;
	}

	&__wrapper {
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (max-width: 920px) {
			width: 100%;
			align-items: center;
		}
	}

	&__image {
		flex: 0 0 50%;
		align-self: center;

		padding: 0px 20px 0px 0px;

		transform: translateX(-100%);
		img {
			max-width: 100%;
		}

		@media (max-width: 920px) {
			display:none;
		}
	}

	@media (max-width: 550px) {
		.header__title {
			font-size: 32px;
		}
	}

	&__title {
		position: relative;

		color: #ffffff;
		font-family: "a_FuturaRound Bold", arial;
		font-size: 46px;
		font-weight: 900;
		letter-spacing: 0.32px;
		text-align: left;
		text-transform: uppercase;
		line-height: 1.4;

		@media (max-width: 920px) {
			text-align: center;
		}
	}

	&__text {
		margin: 15px 0px 0px 0px;
		color: #ffffff;
		text-align: center;

		@media (min-width: 921px) {
			max-width: 400px;

			text-align: left;
		}
	}

	&__button {
		margin: 30px 0px 0px 0px;
	}

	&__wave {
		width: 100%;

		&_bottom {
			margin: 0px 0px -5px 0px;
		}
	}
}

.fixed .header__wrapper2-row {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10000;

	width: 100%;

	background-color: rgb(32, 32, 32);
	box-shadow: 0px 0px 20px 5px rgb(31, 31, 31);

	transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, padding 0s;
}
